@font-face {
    font-family: odin;
    src: url(./Norse-Bold.otf);
}
:root{
    --text-color: rgb(187, 181, 181);
    --left-width: 34vw;
    --form-width: calc(100vw - var(--left-width));
    /* --margin-top-r: calc(var(--left-width) - 20vw); */
}
body{
    margin:0;
    overflow: hidden;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
/* left part */
.left-img , #backg{
    position:relative;
    object-fit:cover;
    width: var(--left-width);
    height:115%;
}
/* icon background */
.icon{
    
    position:absolute;
    width:100%;
    top:13rem;
    background: black;
    opacity: 0.6;
    text-align:center;
    z-index: 1;
}
.icon > span{
    vertical-align: middle;
    color: white;
    font-family: odin;
    font-size: 6.8rem;
    
}
/* icon */
.icon > #icon-odin{
    vertical-align: middle;
    width: 6rem;
    
}
.author{
    position:absolute;
    background: black;
    opacity: 0.6;
    text-align:center;
    z-index: 1;
    width:100%;
    bottom: 10rem;
    color:white;
}
/* right part */
.right{
    font-family: sans-serif;
    /* margin: 6rem 5rem 10rem 6rem ; */
}
.top{
    /*      top  right bot left */
    margin: 5rem 10vw 0rem 5rem ;
    text-align:left;
    font-family: sans-serif;
    height:20vh;
    /* width:100vw; */
    color:var(--text-color);

}
.form{
    padding-left: 5rem;
    width:var(--form-width);
    background-color: #0e0e0e;
    height:40vh;
    color:var(--text-color);
    box-shadow: 0 4px 8px 0 rgba(94, 91, 91, 0.2), 0 10px 20px 0 rgba(67, 64, 64, 0.19);
}
.form > p{
    padding-top: 1rem;
    font-size: 2rem;
}
label + input{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    width:25vw;
    height:1.2rem;
}
.form-right{
    float:right;
    margin-right: 5vw;
}
[for]{
    display: flex;
    flex-direction: column;
    width:30vw;
    font-size: 0.8rem;

}
.footer{
    margin-left: 5rem;
    height: 20vh;
    color:var(--text-color);
}
.footer > button{
    margin-top: 2rem;
    background-color: black;
    
    color: var(--text-color);
    /* width: 10rem;
    height:10rem; */
}